*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font-family: 'Abril Fatface', cursive;
// font-family: 'Montserrat',
// sans-serif;

body {
  font-family: 'Abril Fatface',
  cursive;
}